@page
@model RegisterModel
@{
    ViewData["Title"] = "Registration Disabled";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h1 class="text-danger">Registration Disabled</h1>
        <p>Public registration has been disabled.</p>
        <p>Please contact your administrator to create an account.</p>
        <a asp-page="/Index" class="btn btn-primary">Go to Home Page</a>
    </div>
</div>
